<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text utils</title>
</head>
<body>
<h1>Wel come to the text analyser. enter your text below</h1>
<form action='/analyze' method="get">
    <textarea name='text' style='margin:0px; width:721px; height:93px;'></textarea><br>
    <input type="checkbox" name="removepunc">Remove Punctuation<br>
    <input type="checkbox" name="fullcaps">UpperCase<br>
    <input type="checkbox" name="newlineremover">New Line Remover<br>
    <input type="checkbox" name="extraspaceremover">Extra Space Remover<br>
    <input type="checkbox" name="charcount">Char Count<br>
    <Button type='submit'>Analyze text</Button>


</form>
</body>
</html>